<header class="bg-indigo-700 w-full h-14 px-3 flex flex-row justify-between items-center shadow z-20">
    <div class="flex flex-row items-center gap-4">
        <span class="material-icons hidden sm:block text-white">menu</span>
        <h1 class="font-bold text-white text-lg sm:text-2xl">Página Personal</h1>
    </div>
    <div class="flex flex-row items-center">
        <span class="block text-white mr-2 text-sm sm:text-base">Tomás Catalini</span>
        <img src="../../assets/IMG_4823.JPG" class="block w-12 h-12 rounded-full border">
    </div>
</header>