<main class="relative sm:ml-40 md:ml-52 overflow-auto z-10">
    <div class="px-6 sm:px-16 py-10 flex flex-col gap-4">
        <h1 id="inicio" class="font-bold text-2xl sm:text-4xl sm:mb-6">Te cuento algo sobre mi..</h1>
        <p class="text-lg sm:text-xl">Me llamo Tomás Catalini, más conocido como Tomi. Soy del país campeón del mundo, Argentina, y actualmente me encuentro en la ciudad de Concepción del Uruguay, provincia de Entre Ríos.</p>
        <p class="text-lg sm:text-xl">Deportivo sedentario, aunque me gusta mucho el fútbol, tenis, padel y algún que otro deporte. Hincha del mas grande: <span class="font-bold text-blue-800">Bo</span><span class="font-bold text-yellow-400">qui</span><span class="font-bold text-blue-800">ta</span>.</p>
        <p class="text-lg sm:text-xl">Me gustan los videojuegos (aunque sea malardo en todo), programar, escuchar música y como buen Entrerriano me gusta mucho el mate. Datazo, soy un buen compañero si se quiere salir a tomar unas cervecitas, ni te digo si le entramos al Fernet.</p>
        <p class="text-lg sm:text-xl">A continuación se muestra un breve resumen de mi en el ámbito académico y laboral. Por último, mis "redes sociales"</p>

        <section id="academico" class="px-8 py-4 md:m-6 border rounded shadow-md">
            <h1 class="font-bold text-xl sm:text-2xl mb-2">Estudios</h1>
            <ul class="list-disc list-inside">
                <li class="sm:ml-4 mb-2 font-medium text-base sm:text-lg">Actual estudiante de Ingeniería en Sistemas de Información en UTN FRCU.</li>
                <li class="sm:ml-4 mb-2 font-medium text-base sm:text-lg">Ingles intermedio (PET).</li>
                <li class="sm:ml-4 mb-2 font-medium text-base sm:text-lg">Conocimientos sobre HTML, CSS, Javascript, C#, PHP. Algún que otro curso en Java.</li>
                <li class="sm:ml-4 mb-2 font-medium text-base sm:text-lg">Primario y Secundario en el Instituto Sagrado Corazón de Jesús.</li>
            </ul>
        </section>
        <section id="laboral" class="px-8 py-4 md:m-6 border rounded shadow-md">
            <h1 class="font-bold text-xl sm:text-2xl mb-2">Laboral</h1>
            <ul class="list-disc list-inside">
                <li class="sm:ml-4 font-medium text-base sm:text-lg">Desarrollador Web Full Stack en la municipalidad de Concepción del Uruguay
                    <p class="ml-6 text-xs sm:text-sm text-gray-500 italic">Framework Struts 1, JAVA, HTML, CSS y Javascript</p>
                </li>
                <li class="sm:ml-4 mb-2 font-medium text-base sm:text-lg">Administrativo en Estudio Contable</li>
            </ul>
        </section>
    </div>
    <section id="redesocial" class="border bg-indigo-500 px-8 py-6">
        <h1 class="font-bold text-2xl text-white mb-2">Redes Sociales - Contacto</h1>
        <p class="text-base text-white">Activo mas que nada en Instagram, no soy mucho de las redes en general:</p>   
        <div class="flex flex-col sm:flex-row justify-center gap-5 mt-8">
            <div class="flex flex-col items-center">
                <img src="../../assets/instagram-color.ico">
                <p class="text-white font-medium mt-1">@tomascatalini</p>
            </div>
            <div class="flex flex-col items-center">
                <img src="../../assets/facebook-color.ico">
                <p class="text-white font-medium mt-1">Tomás Catalini</p>
            </div>
            <div class="flex flex-col items-center">
                <img src="../../assets/gmail.ico">
                <p class="text-white font-medium mt-1">tomascatalini@gmail.com</p>
            </div>
        </div>     
    </section>
</main>